<div class="container__big-card">

  <div class="big-card__photo">
    <img
      src="https://as1.ftcdn.net/v2/jpg/04/57/73/82/1000_F_457738290_y8fywtzTyfT2pQzU5mL1OpKHHAERc6kS.jpg"
      alt=""
      height="200px"
      srcset=""
    >
  </div>

  <div class="big-card__title">
    <h1><a [routerLink]="['content', Id]">{{ cardTitle }}</a></h1>
  </div>

  <div class="big-card__description">
    <p>
      <a [routerLink]="['', Id]">
          {{ cardDescription }}
      </a>
    </p>
  </div>

</div>
